<div class="uk-grid uk-panel uk-panel-box">
  <div class="uk-width-medium-1-2">
    <h2><%= t('devise.registrations.new.title') %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="uk-form-row">
        <%= f.text_field :username, class: "uk-width-3-4 uk-form-large",
          placeholder: t('user.attributes.username') %>
      </div>

      <div class="uk-form-row">
        <%= f.email_field :email, class: "uk-width-3-4 uk-form-large",
          placeholder: t('user.attributes.email') %>
      </div>

      <div class="uk-form-row">
        <%= f.password_field :password, class: "uk-width-3-4 uk-form-large",
          placeholder: t('user.attributes.minimum_password',
            minimum: @minimum_password_length) %>
      </div>

      <div class="uk-form-row">
        <%= f.password_field :password_confirmation, class: "uk-width-3-4 uk-form-large",
          placeholder: t('user.attributes.password_confirmation') %>
      </div>

      <div class="uk-form-row">
        <%= f.submit t('devise.links.sign_up'),
          class: "uk-width-small-1-1 uk-width-large-3-4 uk-button uk-button-success uk-button-large" %>
      </div>
    <% end %>
  </div>
</div>
