<%= form_for(@attraction.new_attraction) do |f| %>
  <div class="uk-form-row">
    <%= f.text_field :name, class: "uk-width-small-1-1 uk-width-large-4-5 uk-form-large",
      placeholder: t('attractions.form.name') %>
  </div>

  <div class="uk-form-row">
    <%= f.text_area :description, rows: 10, class: "uk-width-small-1-1 uk-width-large-4-5",
      placeholder: t('attractions.form.description') %>
  </div>

  <h5><strong><%= t('attractions.index.pick_schedule') %></strong></h5>

  <div class="uk-form-row uk-width-small-1-1 uk-width-large-4-5">
    <span class="uk-date-select uk-float-left">
      <%= f.datetime_select :date, start_year: Date.today.year,
        end_year: Date.today.year + 100, autofocus: true,
        include_blank: true, class: "uk-float-left" %>
    </span>
  </div>

  <div class="uk-form-row uk-date-select">
    <%= f.select :media, Attraction.i18n_media.to_a, prompt: t('attraction.attributes.media') %>
  </div>

  <div class="uk-form-row">
    <%= f.submit t('actions.save'),
      class: "uk-width-small-1-1 uk-width-large-4-5 uk-button uk-button-success uk-button-large" %>
  </div>
<% end %>